@import "./../../styles/mixins/container";

.nav {
    height: 70px;
    background: var(--color-background);
    color: var(--color-primary);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    width: 100%;
    display: flex;
    .list {
        display: flex;
        list-style-type: none;
        align-items: center;
        display: flex;
        width: 100%;
        @include container;
        padding-inline-start: 40px;
        padding-inline-end: 40px;
        .item {
            &:nth-of-type(1) {
                flex-grow: 1;
            }
            .logo {
                color: #b7a210;
            }
        }
    }
}
